[Unit]
Description=a tool for managing secrets
Documentation=https://vaultproject.io/docs/
After=consul.target

[Service]
User=mudengine
Group=mudengine
ExecStart=/home/mudengine/vault/vault server -config=/home/mudengine/vault/conf/config.hcl

[Install]
WantedBy=multi-user.target