<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/default.xml"/>
	
    <property name="APP_NAME" value="mud-action"/>
    <property name="APP_BASE_PACKAGE" value="com.jpinfo.mudengine.action"/>

    <springProfile name="dev">
        <property name="GRAYLOG_HOST" value="localhost"/>
        <property name="GRAYLOG_PORT" value="12201"/>
    </springProfile>

    <springProfile name="ti">
        <property name="GRAYLOG_HOST" value="graylog"/>
        <property name="GRAYLOG_PORT" value="12201"/>
    </springProfile>

    <springProfile name="qa">
        <property name="GRAYLOG_HOST" value="jeremias"/>
        <property name="GRAYLOG_PORT" value="12201"/>
    </springProfile>

    <springProfile name="prod">
        <property name="GRAYLOG_HOST" value="aws-path-of-graylog"/>
        <property name="GRAYLOG_PORT" value="12201"/>
    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} – %m%n</pattern>
        </encoder>
    </appender>
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!-- Graylog appender configuration -->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <graylogPort>${GRAYLOG_PORT}</graylogPort>
        <maxChunkSize>508</maxChunkSize>
        <useCompression>true</useCompression>
        <layout class="de.siegmar.logbackgelf.GelfLayout">
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m</pattern>
            </fullPatternLayout>
            <staticField>app_name:${APP_NAME}</staticField>
        </layout>
    </appender>
    
    <logger name="${APP_BASE_PACKAGE}" level="DEBUG" additivity="false">
           <appender-ref ref="STDOUT"/>
    </logger>  
    
    <root level="INFO">
           <appender-ref ref="STDOUT"/>
    </root>
    
    <springProfile name="dev">
    
	    <root level="INFO">
            <appender-ref ref="STDOUT"/>
	    </root>
    </springProfile>
    
    <springProfile name="ti">

	    <logger name="${APP_BASE_PACKAGE}" level="DEBUG" additivity="false">
        	<appender-ref ref="GELF"/>
            <appender-ref ref="STDOUT"/>       
	    </logger>    

	    <root level="INFO">
	        <appender-ref ref="GELF"/>
            <appender-ref ref="STDOUT"/>
	    </root>

	
	</springProfile>
	
    <springProfile name="qa,prod">
	    <root level="INFO">
	        <appender-ref ref="GELF"/>
	    </root>
	</springProfile>

</configuration>